Source: ardukey-auth
Maintainer: Bastian Raschke <bastian.raschke@posteo.de>
Section: python
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
               bash-completion,
               sqlite3,
               python3 (>= 3.2),
               python3-setuptools
X-Python3-Version: >= 3.2
Homepage: https://sicherheitskritisch.de

Package: python3-ardukey-auth
Architecture: all
Depends: python3 (>= 3.2),
         python3-crypto,
         python-sqlite,
         ${python3:Depends}, ${misc:Depends}
Description: Python 3 modules for the ArduKey authserver.
 The ArduKey authserver provides a verification service for ArduKey devices.
 .
 This package contains the required Python 3 module for the server.

Package: ardukey-auth-server
Architecture: all
Section: net
Depends: adduser,
         lsb-base (>= 3.2-14),
         bash-completion,
         python3,
         python-argparse,
         python3-ardukey-auth (= ${binary:Version}),
         ${python3:Depends}, ${misc:Depends}
Description: ArduKey authserver written in Python 3.
 The ArduKey authserver provides a verification service for ArduKey devices.
 .
 This package contains the server and configuration files.
