#!/usr/bin/make -f

%:
	dh $@ --with python3,bash-completion

override_dh_install:
	sqlite3 ./files/ardukey-auth-server.sqlite ".read ./files/ardukey-auth-server.sqlite.sql"
	dh_install

override_dh_auto_clean:
	dh_auto_clean
	rm -rf ./build/ ./files/ardukeyauth.egg-info/ ./files/ardukeyauth/__pycache__/
	rm -f ./files/ardukey-auth-server.sqlite

override_dh_auto_build:
	dh_auto_build
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py build; \
	done;

override_dh_auto_install:
	dh_auto_install
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	done;
