Source: tryton-server
Section: python
Priority: optional
Maintainer: Debian Tryton Maintainers <maintainers@debian.tryton.org>
Uploaders: Daniel Baumann <daniel@debian.org>, Mathias Behrle <mathiasb@m9s.biz>
Dm-Upload-Allowed: yes
Build-Depends: debhelper (>= 9), python (>= 2.6.6-3~), python-setuptools
Standards-Version: 3.9.3
Homepage: http://www.tryton.org/
Vcs-Browser: http://debian.tryton.org/gitweb/?p=packages/tryton-server.git
Vcs-Git: git://debian.tryton.org/git/packages/tryton-server.git
X-Python-Version: >= 2.6

Package: tryton-server
Architecture: all
Depends:
 ${misc:Depends}, ${python:Depends}, adduser, python-dateutil, python-genshi,
 python-lxml, python-relatorio, python-simplejson, python-polib,
 python-pkg-resources
Recommends:
 postgresql, python-psycopg2, postgresql-client, python-openssl, python-pydot,
 python-tz, python-webdav (>= 0.9.8)
Suggests:
 tryton-client | tryton-neso, python-psyco, python-sphinx, unoconv,
 libreoffice-draw, libreoffice-writer, libreoffice-calc
Description: Tryton Application Platform (Server)
 Tryton is a high-level general purpose application platform written in Python
 and using PostgreSQL as database engine. It is the core base of a complete
 business solution.
 .
 This package contains the server.
